KERNEL=="*[0-9]", SUBSYSTEM=="usb", ACTION=="add", SYSFS{idVendor}=="16c0", SYSFS{idProduct}=="05dc", SYSFS{manufacturer}=="s@jaseg.de", SYSFS{product}=="MultiMon", GROUP="plugdev"
